{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Finin Test </title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    
        
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <a class="navbar-brand" href="{% url 'home' %}" class="navbar-brand">Finin</a>
                <a href="{% url 'home' %}" class="active">Home </a>      
            
        </div>
        <ul class="nav navbar">
            <li> <a href="{% url 'transaction' %}"> Transaction </a> </li>

        </ul>
            <ul class="list-inline pull-right">               
                
                {% if user.is_authenticated %}
                    <li class="list-inline-item"> <p> {{ user.username }} </p> </li>
                    <li class="list-inline-item"> <a href="{% url 'rest_logout' %} "> logout </a> </li>
                {% else %}

                <li class="list-inline-item"> <a href="/api/token/"> Login </a> </li>
                <li class="list-inline-item"> <a href="/user_login_register/signup/">Register</a> </li>

                {% endif %}



            </ul>
        </div>

    </nav>
    <div class="container">
        <div>
            <h4>Finin Test Details</h4>
        </div>        
    </div>
    {% block content %}
                
    {% endblock %}    
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>